---
import Plantilla from '@/plantillas/Plantilla.astro';
import type { Pagina } from '@/tipos';

const paginas = await Astro.glob<Pagina>('../contenido/*.mdx');
const paginasDocencia = await Astro.glob<Pagina>('../contenido/docencia/*.mdx');
---

<Plantilla>
  <nav id="menu">
    <ul>
      {
        paginas &&
          paginas.map((pagina) => (
            <li>
              <a href={`#${pagina.frontmatter.slug}`}>{pagina.frontmatter.titulo}</a>
              {pagina.frontmatter.slug === 'docencia' && (
                <ul>
                  {paginasDocencia.map((pDocencia) => (
                    <li>
                      <a href={`#${pDocencia.frontmatter.slug}`}>{pDocencia.frontmatter.titulo}</a>
                    </li>
                  ))}
                </ul>
              )}
            </li>
          ))
      }
    </ul>
  </nav>

  <main>
    <header>
      <h1>Portafolio Docente, Juan Camilo González Jiménez</h1>
      <p>2024</p>
    </header>

    {
      paginas &&
        paginas.map((pagina) => {
          return (
            <>
              <h2 id={pagina.frontmatter.slug}>{pagina.frontmatter.titulo}</h2>
              <pagina.Content />
            </>
          );
        })
    }
  </main>
</Plantilla>
